<div class="container">
    <div class="row">
        <div class="col-md-3">
        <div class="card">
            <img class="card-imgae-top" src="wa.png" alt="">
            <div class="card-body">
                <h2 class="card-title1 text-center">Watch</h2>
                <p class="card-text text-center">vsdvdvdvssd</p>
                <h5 class="text-center">$50,15</h5>
                <div class="star text-center">
                    <i class="fa fa-star checked"></i>
                     <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                  </div>
                  <div class="btn">
                    <button type="button">Add <i><img src="" alt=""></i></button>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        <div class="card">
            <img class="card-imgae-top" src="wa.png" alt="">
            <div class="card-body">
                <h2 class="card-title1 text-center">Watch</h2>
                <p class="card-text text-center">vsdvdvdvssd</p>
                <h5 class="text-center">$50,15</h5>
                <div class="star text-center">
                    <i class="fa fa-star checked"></i>
                     <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                  </div>
                  <div class="btn">
                    <button type="button">Add <i><img src="" alt=""></i></button>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        <div class="card">
            <img class="card-imgae-top" src="wa.png" alt="">
            <div class="card-body">
                <h2 class="card-title1 text-center">Watch</h2>
                <p class="card-text text-center">vsdvdvdvssd</p>
                <h5 class="text-center">$50,15</h5>
                <div class="star text-center">
                    <i class="fa fa-star checked"></i>
                     <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                  </div>
                  <div class="btn">
                    <button type="button">Add <i><img src="" alt=""></i></button>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        <div class="card">
            <img class="card-imgae-top" src="wa.png" alt="">
            <div class="card-body">
                <h2 class="card-title1 text-center">Watch</h2>
                <p class="card-text text-center">vsdvdvdvssd</p>
                <h5 class="text-center">$50,15</h5>
                <div class="star text-center">
                    <i class="fa fa-star checked"></i>
                     <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                  </div>
                  <div class="btn">
                    <button type="button">Add <i><img src="" alt=""></i></button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>